body{
	text-align: center;
}

header{
	height: 100px;
	background: #ffffff;
	width: 100%;
	z-index: 100;
	position: fixed;
	top: 0px;
/*	box-shadow: 10px 10px 5px black;
*/}

#banner{
	width: 100%;
	height: 1500px;
	position: fixed;
	top:20px; 
	background: url(../img/banner.png);
	background-size: cover;
}

#content{
	width: 100%;
	position: relative;
	top: 400px;
	background: #ffffff;
	height: 400px;
}

#second_banner{
	width: 100%;
	position: relative;
	top: 700px;
	background: #ffffff;
	height: 400px;

}

p{
	margin-right: 50px;
	margin-left: 50px;
	text-align: justify;
}

#header_logo{
	margin-left: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
	float: left;
	background: url(header_logo.png);
}

ul {
    list-style-type: none;
    margin: 0;
    margin-top: 20px;
    margin-right: 50px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

li {
    float: right;
    padding-left: 10px;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #ffffff;
}

.button {
    display: inline-block;
    padding: 1em;
    background-color: #79BD9A;
    text-decoration: none;
    color: white;
}

.button2 {
    display: inline-block;
    padding: 1em;
    background-color: #79BD9A;
    text-decoration: none;
    color: white;
}